:root {
  /* Colors */
  --grid-gap-small: 8px;
  --grid-gap-medium: 16px;
  --grid-gap: 24px;
  --background: #f5eee7;
  --primary-color: #000000;
  --primary-color-inverted: #fff;
  --color1: #6a205d;
  --color2: #b50851;
  --color3: #f3352c;
  --color4: #f7b101;

  --body: 0.9rem;
  --caption: 0.7rem;
}
body {
  font-family: sans-serif;
  background: var(--background);
  font-size: var(--body);
  font-family: sans-serif;
  line-height: 120%;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto 224px 48px;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: 0;
  padding: 0 24px;
  position: relative;
  max-width: 1280px;
  height: 100dvh;
  margin: 0 auto;
  opacity: 0;
}
section.grid,
footer.grid {
}
h1 {
  padding-top: var(--grid-gap);
  grid-row: 1;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  text-transform: lowercase;
}
.about {
  padding-top: var(--grid-gap);
  grid-row: 1;
  grid-column: 3 / span all;
  font-size: min(max(12px, 1.5vmin), 20px);
  line-height: 120%;
}
h2.headline {
  grid-row: 2;
  grid-column: 1 / span all;

  font-size: min(max(12px, 22vw), 260px);
  line-height: 100%;
  font-weight: bold;
  align-self: end;
  letter-spacing: -0.3rem;
  font-family: "poppins", sans-serif;;
}
.container {
  grid-row: 3;
  grid-column: 1 / span all;
  position: relative;
  margin: -8px;
}
ol.areas {
  position: absolute;
  left: 0;
  right: 0;
  bottom: var(--grid-gap-medium);
}
ol.areas li {
  padding: 0 var(--grid-gap);
  height: 48px;
  margin: 0 calc(var(--grid-gap) * -1);
  color: var(--primary-color-inverted);
  font-weight: 400;
  margin-bottom: 2px;
  transition: all 400ms cubic-bezier(.26,.52,.12,1.19);
  transform: translateZ(0);
  will-change: transform;
  overflow: hidden;
}
ol.areas li a{
  line-height: 48px;
  display: block;
  position: relative;
  width: 100%;
  transition: all 400ms cubic-bezier(.26,.52,.12,1.19) 100ms;
}
ol.areas li.expanded {
  height: calc(100dvh - 280px);
}
ol.areas li.expanded a:first-child{
  font-size: 24px;
  line-height: 32px;
  position: relative;
  margin-top: var(--grid-gap);
  transform: translate(0);
}
ol.areas li article{
  opacity: 0;
  transition: all 400ms cubic-bezier(.26,.52,.12,1.19) 0ms;
  transform: translateY(100px);
  position: absolute;
  top: var(--grid-gap);
  left: var(--grid-gap);
  right:calc(var(--grid-gap));
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--grid-gap);
  z-index: 10;
}
ol.areas li article div{
  grid-column: 3 / span all;
  padding-right: calc(var(--grid-gap) * 2);
}
ol.areas li.expanded article{
  opacity: 1;
  transform: translate(0);
  bottom: 0
}
ol.areas li.expanded article p{
  margin-bottom: var(--grid-gap-medium);
}
ol.areas li a:first-child {
  text-decoration: none;
  color: var(--primary-color-inverted);
  text-transform: uppercase;
  cursor: crosshair;
  font-weight: bold;
  z-index: 1000000;
}

ol.areas li:last-child a{
  text-decoration: none;
  color: var(--primary-color) !important;
}
ol.areas li:nth-child(1) {
  background: var(--color1);
}
ol.areas li:nth-child(2) {
  background: var(--color2);
}
ol.areas li:nth-child(3) {
  background: var(--color3);
}
ol.areas li:nth-child(4) {
  background: var(--color4);
  color: var(--primary-color);
}
ol.areas li span:first-child {
  display: inline-block;
  padding-right: var(--grid-gap);
}
ol.areas li a:first-child .icon{
  transform-origin: center center;
  transform: rotate(0);
}
ol.areas li.expanded a:first-child .icon{
  transform: rotate(45deg);
}
ol.areas li span.icon {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
  
}
footer.subgrid-container {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / span all;
  grid-row: 4;
  height: 48px;
  line-height: 24px;
  bottom: 0;
  font-size: var(--caption);
  text-transform: lowercase;
}
footer a {
  font-weight: bold;
}

/* Loader */
#progressBarContainer {
  width: 100%;
  position: absolute;
}

#progressBar {
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.5s;
}
/* Media querries  */
/* Mobile */
@media only screen and (max-width: 600px) {
  :root {
    /* Colors */
    --grid-gap-small: 4px;
    --grid-gap-medium: 8px;
    --grid-gap: 16px;

    --body: 0.9rem;
    --caption: 0.7rem;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  h1 {
    font-size: 24px;
    grid-column: 1 / span all;
  }
  h2.headline {
    transform: rotate(-90deg);
    transform-origin: left;
    position: fixed;
    bottom: 208px;
    left: 54px;
    grid-row: 1;
    font-size: 110px;
  }
  .about {
    font-size: 14px;
  }
  ol.areas li.expanded {
    height: calc(100dvh - 250px);
  }
  ol.areas li.expanded a:first-child{
    font-size: 20px;
  }
  ol.areas li.expanded article{
    display: block;
    margin-top: 48px;
    overflow-y: scroll;
    padding-top: 0;
  }
  ol.areas li.expanded article div{
    padding: 0;
  }
}
@media only screen and (max-width: 600px) and (orientation: landscape) {
  /* Styles */
}
/* Media querries  */
/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles */
}

@media only screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
@media only screen and (min-width: 601px) and (max-width: 1024px) and (orientation: landscape) {
    /* Styles */
}



